@media (max-width: 700px) {
    body {
        font-size: 0.8rem;
    }

    .header {
           
    }
    .main {
        width: 90%;

        .pr-2, .pl-2 {
            padding: 2rem 0;
        }
        .first {
            background: padding-box url('../images/bg-section-top-mobile-1.svg') top / 100% 50% no-repeat , url('../images/bg-section-bottom-mobile-1.svg') bottom / 100% 50% no-repeat;
            // background-position: bottom top;
        }
        .third {
            background: top url('../images/bg-section-top-mobile-2.svg') no-repeat, bottom url('../images/bg-section-bottom-mobile-2.svg') no-repeat;
            background-size: 100% 50%;
            padding: 0;
            background-position: top bottom;
        }
        .data-summary {
            div {
                padding-bottom: 5rem;
            }
            img {
                left: -10%;

                margin-bottom: 10px;
                width: 30px;
                padding: 0;
            }
        }
    }
    %display--flex {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
    }
    .intro-par {
        width: 100%;
    }
    .full-image, .illus-image {
        max-width: 100%;
        margin: 3rem 0;
    }
    .footer-top-bg {
        background-image: url('../images/bg-footer-top-mobile.svg');
        margin-bottom: -1px;
    }
    .footer {
        padding: 0;
        .footer-wrapper {
            flex-direction: column-reverse;
            margin: 0;
            text-align: left;
            width: 100%;
            padding: 2rem 1rem;
            .text {
                width: 80%;
            }
    
        }

    }
}
